# SKPeek Environment Configuration
# Environment: {{ env }}

SEARXNG_BASE_URL=https://skpeek{% if env != 'prod' %}-{{ env }}{% endif %}.{{ cluster_name | default(skpeek.CLUSTERNAME | default('cluster1')) }}.{{ domain | default(skpeek.DOMAIN | default('example.com')) }}/
UWSGI_WORKERS={{ uwsgi_workers | default('2') }}
UWSGI_THREADS={{ uwsgi_threads | default('2') }}
SEARXNG_HOSTNAME=0.0.0.0:8080/

