-- Enable pgvector extension
CREATE EXTENSION IF NOT EXISTS vector;

-- Grant permissions to skorch user
GRANT ALL PRIVILEGES ON DATABASE {{ skorch.POSTGRES_DB }} TO {{ skorch.POSTGRES_USER }};
GRANT ALL ON SCHEMA public TO {{ skorch.POSTGRES_USER }};


