POSTGRES_USER={{ skorch.POSTGRES_USER }}
POSTGRES_PASSWORD={{ skorch.POSTGRES_PASSWORD }}
POSTGRES_DB={{ skorch.POSTGRES_DB }}

# Enable pgvector extension on init
POSTGRES_INITDB_ARGS=--encoding=UTF8


