POSTGRES_USER={{ skorch_cfg.POSTGRES_USER }}
POSTGRES_PASSWORD={{ skorch_cfg.POSTGRES_PASSWORD }}
POSTGRES_DB={{ skorch_cfg.POSTGRES_DB }}

# Enable pgvector extension on init
POSTGRES_INITDB_ARGS=--encoding=UTF8


