INSTANCENAME=skorch
CLUSTERNAME={{ skorch_cfg.CLUSTERNAME | default(cluster_name | default('cluster1')) }}
DOMAIN={{ skorch_cfg.DOMAIN | default(domain | default('example.com')) }}
INSTANCE={{ skorch_cfg.INSTANCE | default('primary') }}
APP_ENV={{ skorch_cfg.APP_ENV | default('prod') }}
