INSTANCENAME=skorch
CLUSTERNAME={{ skorch_cfg.CLUSTERNAME | default(cluster_name) }}
DOMAIN={{ skorch_cfg.DOMAIN | default(domain) }}
INSTANCE={{ skorch_cfg.INSTANCE | default('primary') }}
APP_ENV={{ skorch_cfg.APP_ENV | default('prod') }}
