INSTANCENAME=skorch
CLUSTERNAME={{ skorch.CLUSTERNAME | default(cluster_name | default('cluster1')) }}
DOMAIN={{ skorch.DOMAIN | default(domain | default('example.com')) }}
INSTANCE={{ skorch.INSTANCE | default('primary') }}
APP_ENV={{ skorch.APP_ENV | default('prod') }}
