{#- cli_debrid seed (written only if absent): the headless equivalent of its
    onboarding. Plex watchlist in, Torrentio scraper, Real-Debrid, 1080p. -#}
{% set all = '/mnt/debrid/' + (skstream.RCLONE_MOUNT_NAME | default('rclone_RD')) + '/__all__' %}
{
  "Plex": {
    "url": "http://plex:32400", "token": {{ skstream.PLEX_TOKEN | to_json }},
    "movie_libraries": {{ skstream.PLEX_MOVIE_LIBRARIES | default('Movies') | to_json }},
    "shows_libraries": {{ skstream.PLEX_SHOW_LIBRARIES | default('TV Shows') | to_json }},
    "update_plex_on_file_discovery": true, "mounted_file_location": {{ all | to_json }}
  },
  "Debrid Provider": {"provider": "RealDebrid", "api_key": {{ skstream.RD_API_KEY | to_json }}},
  "Trakt": {"client_id": {{ skstream.TRAKT_CLIENT_ID | default('') | to_json }}, "client_secret": {{ skstream.TRAKT_CLIENT_SECRET | default('') | to_json }}},
  "TMDB": {"api_key": {{ skstream.TMDB_API_KEY | default('') | to_json }}},
  "File Management": {
    "file_collection_management": "Plex", "original_files_path": {{ all | to_json }},
    "plex_url_for_symlink": "http://plex:32400", "plex_token_for_symlink": {{ skstream.PLEX_TOKEN | to_json }}
  },
  "Metadata Battery": {"url": "http://localhost:5001"},
  "Debug": {
    "auto_run_program": true,
    "content_source_check_period": {"My Plex Watchlist_1": {{ skstream.WATCHLIST_CHECK_MINUTES | default(5) | int }}}
  },
  "UI Settings": {"enable_user_system": true},
  "Scraping": {
    "uncached_content_handling": "None", "filter_trash_releases": true,
    "hybrid_mode": {{ ((skstream.CLI_DEBRID_HYBRID_MODE | default(true) | string | lower) in ['true', 'yes', '1', 'on']) | to_json }},
    "versions": {"1080p": {
      "max_resolution": "1080p", "resolution_wanted": "<=", "enable_hdr": false, "hdr_weight": 1.0,
      "min_size_gb": 0.2, "max_size_gb": 1e9, "min_bitrate_mbps": 0.01, "max_bitrate_mbps": 1e9,
      "resolution_weight": 3.0, "similarity_weight": 3.0, "similarity_threshold": 0.8,
      "similarity_threshold_anime": 0.35, "size_weight": 1.0, "bitrate_weight": 1.0, "year_match_weight": 3,
      "wake_count": null, "fallback_version": "None", "anime_filter_mode": "None",
      "filter_in": [], "filter_out": [], "preferred_filter_in": [], "preferred_filter_out": [],
      "require_physical_release": false, "language_code": "en"
    }}
  },
  "Scrapers": {"Torrentio_1": {"enabled": true, "opts": "", "type": "Torrentio"}},
  "Content Sources": {"My Plex Watchlist_1": {
    "enabled": true, "versions": ["1080p"], "media_type": "All", "display_name": "My Plex Watchlist",
    "allow_specials": false, "custom_symlink_subfolder": "", "cutoff_date": {{ skstream.CUTOFF_DATE | default('') | string | to_json }},
    "exclude_genres": [], "list_length_limit": 0, "type": "My Plex Watchlist"
  }}
}
