export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skstream.CLUSTERNAME }}"
export DOMAIN="{{ skstream.DOMAIN }}"
export INSTANCE="{{ skstream.INSTANCE | default('skstream-' + env) }}"
export APP_ENV="{{ env }}"
