# SKWhoami Environment Configuration
# Environment: {{ env }}

DOMAIN={{ domain | default(skwhoami.DOMAIN | default('example.com')) }}
CLUSTERNAME={{ cluster_name | default(skwhoami.CLUSTERNAME | default('skstack01')) }}
APP_ENV={{ env }}
