version: "3.7"

services:
  registry:
    image: registry:2.8.3
    ports:
      - "5000:5000"
    environment:
      - REGISTRY_HTTP_SECRET={{ vault_skreg_registry_http_secret }}
      - REGISTRY_HTTP_ADDR={{ vault_skreg_registry_http_addr | default('0.0.0.0:5000') }}
    volumes:
      - /var/data/skreg-{{ env }}/data:/var/lib/registry
    networks:
      - skreg-{{ env }}
    deploy:
      mode: global
      resources:
        reservations:
          memory: 64M
        limits:
          memory: 128M

networks:
  skreg-{{ env }}:
    external: true
