PGHOST=skmem-pg
PGUSER=postgres
PGPASSWORD={{ skmem_pg_password }}
PGDATABASE=skmemory
BACKUP_NUM_KEEP={{ skmem_pg_backup_num_keep | default('7') }}
BACKUP_FREQUENCY={{ skmem_pg_backup_frequency | default('1d') }}
