# Syncthing Environment Configuration
SYNCWALLET={{ sksync.SYNCWALLET }}
STGUIADDRESS={{ sksync.STGUIADDRESS | default('0.0.0.0:8384') }}
ENCRYPTION_TOKEN={{ sksync.ENCRYPTION_TOKEN }}
UUID={{ sksync.UUID }}
TZ={{ sksync.TZ }}
