INSTANCENAME={{ app }}-{{ env }}
CLUSTERNAME={{ sksync.CLUSTERNAME | default(cluster_name) }}
DOMAIN={{ sksync.DOMAIN | default(domain) }}
INSTANCE={{ sksync.INSTANCE | default('primary') }}
APP_ENV={{ sksync.APP_ENV | default('prod') }}
