INSTANCENAME=skhub
CLUSTERNAME={{ skhub.CLUSTERNAME }}
DOMAIN={{ skhub.DOMAIN }}
INSTANCE={{ skhub.INSTANCE | default('primary') }}
APP_ENV={{ skhub.APP_ENV | default('prod') }}
{% if skhub.CLOUDFLARED | default(false) %}
BASE_DOMAIN={{ skhub.DOMAIN }}
{% else %}
BASE_DOMAIN={{ skhub.CLUSTERNAME }}.{{ skhub.DOMAIN }}
{% endif %}
