{
  "policies": {
    "Preferences": {
      "network.dns.echconfig.enabled": {
        "Value": false,
        "Status": "locked"
      },
      "network.dns.http3_echconfig.enabled": {
        "Value": false,
        "Status": "locked"
      },
      "network.dns.native_https_query": {
        "Value": false,
        "Status": "locked"
      }
    }
  }
}
