{%- if skhub.CLOUDFLARED | default(false) -%}
  {%- set _base_domain = skhub.DOMAIN -%}
{%- else -%}
  {%- set _base_domain = skhub.CLUSTERNAME ~ '.' ~ skhub.DOMAIN -%}
{%- endif -%}
NEXTCLOUD_URL=https://skhub{% if env == 'staging' %}-staging{% elif env == 'dev' %}-dev{% endif %}.{{ _base_domain }}
JWT_SECRET_KEY={{ skhub.whiteboard_jwt_secret }}
STORAGE_STRATEGY=redis
REDIS_URL=redis://redis:6379/1
