export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skform.CLUSTERNAME }}"
export DOMAIN="{{ skform.DOMAIN }}"
export INSTANCE="{{ skform.INSTANCE | default('skform-' + env) }}"
export APP_ENV="{{ skform.APP_ENV }}"
