INSTANCENAME=skmail
CLUSTERNAME={{ skmail.CLUSTERNAME }}
DOMAIN={{ skmail.DOMAIN }}
INSTANCE={{ skmail.INSTANCE | default('primary') }}
APP_ENV={{ skmail.APP_ENV | default('prod') }}
HOSTNAME={{ skmail.HOSTNAME | default('mail.' + skmail.DOMAIN) }}

