{%- if skmesh.CLOUDFLARED | default(false) -%}
  {%- set _base_domain = skmesh.DOMAIN -%}
{%- else -%}
  {%- set _base_domain = skmesh.CLUSTERNAME ~ '.' ~ skmesh.DOMAIN -%}
{%- endif -%}
# Netbird Environment Variables for Authentik OIDC Integration

NETBIRD_STORE_ENGINE_POSTGRES_DSN=postgres://netbird:{{ skmesh.POSTGRES_PASSWORD }}@postgres:5432/netbird?sslmode=disable

NETBIRD_DOMAIN=skmesh.{{ _base_domain }}

NETBIRD_MGMT_API_ENDPOINT=https://skmesh.{{ _base_domain }}
NETBIRD_SIGNAL_ENDPOINT=https://skmesh.{{ _base_domain }}

NETBIRD_AUTH_OIDC_CONFIGURATION_ENDPOINT=https://sso.{{ _base_domain }}/application/o/skmesh/.well-known/openid-configuration
NETBIRD_USE_AUTH0=false
NETBIRD_AUTH_CLIENT_ID={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}
NETBIRD_AUTH_SUPPORTED_SCOPES=openid profile email offline_access api
NETBIRD_AUTH_AUDIENCE={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}
NETBIRD_AUTH_DEVICE_AUTH_CLIENT_ID={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}
NETBIRD_AUTH_DEVICE_AUTH_AUDIENCE={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}
NETBIRD_TOKEN_SOURCE=idToken
NETBIRD_AUTH_PKCE_DISABLE_PROMPT_LOGIN=true

NETBIRD_MGMT_IDP=authentik
NETBIRD_IDP_MGMT_CLIENT_ID={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}

# Dashboard env vars (init_react_envs.sh expects these without NETBIRD_ prefix)
AUTH_AUDIENCE={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}
AUTH_CLIENT_ID={{ skmesh.NETBIRD_AUTH_CLIENT_ID }}
AUTH_AUTHORITY=https://sso.{{ _base_domain }}/application/o/skmesh/
AUTH_REDIRECT_URI=https://skmesh.{{ _base_domain }}/
AUTH_SILENT_REDIRECT_URI=https://skmesh.{{ _base_domain }}/silent-callback
AUTH_SUPPORTED_SCOPES=openid profile email offline_access api
USE_AUTH0=false

TURN_DOMAIN=turn.{{ _base_domain }}
TURN_USER={{ skmesh.TURN_USER }}
TURN_PASSWORD={{ skmesh.TURN_PASSWORD }}

NETBIRD_RELAY_ENDPOINT={{ skmesh.NETBIRD_RELAY_ENDPOINT }}
NETBIRD_RELAY_AUTH_SECRET={{ skmesh.NETBIRD_RELAY_AUTH_SECRET }}

# NetBird Relay server specific env vars
NB_EXPOSED_ADDRESS={{ skmesh.NETBIRD_RELAY_ENDPOINT | replace('rels://', '') | replace('rel://', '') }}
NB_AUTH_SECRET={{ skmesh.NETBIRD_RELAY_AUTH_SECRET }}
NB_LOG_LEVEL=info

NETBIRD_DATASTORE_ENC_KEY={{ skmesh.NETBIRD_DATASTORE_ENC_KEY }}

NETBIRD_DISABLE_ANONYMOUS_METRICS=true
