INSTANCENAME={{ app }}
CLUSTERNAME={{ skstor.CLUSTERNAME | default('cluster1') }}
DOMAIN={{ skstor.DOMAIN | default('example.com') }}
INSTANCE={{ skstor.INSTANCE | default('primary') }}
APP_ENV={{ env }}
