INSTANCENAME=skstor
CLUSTERNAME={{ skstor.CLUSTERNAME }}
DOMAIN={{ skstor.DOMAIN }}
INSTANCE={{ skstor.INSTANCE | default('primary') }}
APP_ENV={{ skstor.APP_ENV | default('prod') }}
{% if skstor.CLOUDFLARED | default(false) %}
BASE_DOMAIN={{ skstor.DOMAIN }}
{% else %}
BASE_DOMAIN={{ skstor.CLUSTERNAME }}.{{ skstor.DOMAIN }}
{% endif %}
