export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skbook.CLUSTERNAME }}"
export DOMAIN="{{ skbook.DOMAIN }}"
export INSTANCE="{{ skbook.INSTANCE | default('skbook-' + env) }}"
export APP_ENV="{{ env }}"
