export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skmon.CLUSTERNAME }}"
export DOMAIN="{{ skmon.DOMAIN }}"
export INSTANCE="{{ skmon.INSTANCE | default('skmon-' + env) }}"
export APP_ENV="{{ skmon.APP_ENV | default(env) }}"
