INSTANCENAME=skdesk
CLUSTERNAME={{ skdesk.CLUSTERNAME | default(cluster_name) }}
DOMAIN={{ skdesk.DOMAIN | default(domain) }}
INSTANCE={{ skdesk.INSTANCE | default('primary') }}
APP_ENV={{ skdesk.APP_ENV | default('prod') }}
PLACEMENT_HOSTNAME={{ skdesk.PLACEMENT_HOSTNAME }}
