TZ={{ skdesk.TZ | default('Etc/UTC') }}
ENCRYPTED_ONLY={{ skdesk.ENCRYPTED_ONLY | default('1') }}
{% if skdesk.SERIAL | default('') %}
SERIAL={{ skdesk.SERIAL }}
{% endif %}
{% if skdesk.RENDEZVOUS_SERVERS | default('') %}
RENDEZVOUS_SERVERS={{ skdesk.RENDEZVOUS_SERVERS }}
{% endif %}
