INSTANCENAME=skdesk
CLUSTERNAME={{ skdesk.CLUSTERNAME | default(cluster_name | default('cluster1')) }}
DOMAIN={{ skdesk.DOMAIN | default(domain | default('example.com')) }}
INSTANCE={{ skdesk.INSTANCE | default('primary') }}
APP_ENV={{ skdesk.APP_ENV | default('prod') }}
