INSTANCENAME=skboard-{{ env }}
CLUSTERNAME={{ skboard.CLUSTERNAME | default(cluster_name) }}
DOMAIN={{ skboard.DOMAIN | default(domain) }}
INSTANCE={{ skboard.INSTANCE | default('primary') }}
APP_ENV={{ env }}
