INSTANCENAME=skboard-{{ env }}
CLUSTERNAME={{ cluster_name | default(skboard.CLUSTERNAME | default('cluster1')) }}
DOMAIN={{ domain | default(skboard.DOMAIN | default('example.com')) }}
INSTANCE={{ skboard.INSTANCE | default('primary') }}
APP_ENV={{ env }}
