INSTANCENAME={{ app }}
CLUSTERNAME={{ skdash.CLUSTERNAME | default('cluster1') }}
DOMAIN={{ skdash.DOMAIN | default('example.com') }}
INSTANCE={{ skdash.INSTANCE | default('primary') }}
APP_ENV={{ env }}
