export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skdash.CLUSTERNAME | default(cluster_name) }}"
export DOMAIN="{{ skdash.DOMAIN | default(domain) }}"
export APP_ENV="{{ skdash.APP_ENV | default(env) }}"
