export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skgraph.CLUSTERNAME }}"
export DOMAIN="{{ skgraph.DOMAIN }}"
export INSTANCE="{{ skgraph.INSTANCE | default('skgraph-' + env) }}"
export APP_ENV="{{ skgraph.APP_ENV }}"
