INSTANCENAME=skbackup
CLUSTERNAME={{ skbackup.CLUSTERNAME }}
DOMAIN={{ skbackup.DOMAIN }}
INSTANCE={{ skbackup.INSTANCE | default('primary') }}
APP_ENV={{ skbackup.APP_ENV | default('prod') }}
{% if skbackup.CLOUDFLARED | default(false) %}
BASE_DOMAIN={{ skbackup.DOMAIN }}
{% else %}
BASE_DOMAIN={{ skbackup.CLUSTERNAME }}.{{ skbackup.DOMAIN }}
{% endif %}
