INSTANCENAME=sksec
CLUSTERNAME={{ sksec.CLUSTERNAME | default(cluster_name) }}
DOMAIN={{ sksec.DOMAIN | default(domain) }}
INSTANCE={{ sksec.INSTANCE | default('primary') }}
APP_ENV={{ sksec.APP_ENV }}
