HOSTNAME={{ skseek.HOSTNAME | default('0.0.0.0') }}
PORT={{ skseek.PORT | default('3000') }}
NEXT_PUBLIC_API_URL={{ skseek.NEXT_PUBLIC_API_URL }}
NEXT_PUBLIC_WS_URL={{ skseek.NEXT_PUBLIC_WS_URL }}
SEARXNG_API_URL={{ skseek.SEARXNG_API_URL }}
SIMILARITY_MEASURE={{ skseek.SIMILARITY_MEASURE | default('cosine') }}
