INSTANCENAME=skseek
CLUSTERNAME={{ skseek.CLUSTERNAME | default(cluster_name | default('cluster1')) }}
DOMAIN={{ skseek.DOMAIN | default(domain | default('example.com')) }}
INSTANCE={{ skseek.INSTANCE | default('primary') }}
APP_ENV={{ skseek.APP_ENV | default('prod') }}
