INSTANCENAME=skseek
CLUSTERNAME={{ skseek.CLUSTERNAME | default(cluster_name) }}
DOMAIN={{ skseek.DOMAIN | default(domain) }}
INSTANCE={{ skseek.INSTANCE | default('primary') }}
APP_ENV={{ skseek.APP_ENV | default('prod') }}
