INSTANCENAME=skport-{{ env }}
CLUSTERNAME={{ cluster_name | default(skport.CLUSTERNAME | default('skstack01')) }}
DOMAIN={{ domain | default(skport.DOMAIN | default('example.com')) }}
APP_ENV={{ env }}
