export INSTANCENAME="{{ app }}-{{ env }}"
export CLUSTER_NAME="{{ skvector.CLUSTERNAME }}"
export DOMAIN="{{ skvector.DOMAIN }}"
export INSTANCE="{{ skvector.INSTANCE }}"
export APP_ENV="{{ skvector.APP_ENV }}"
{% if skvector.CLOUDFLARED | default(false) %}
export BASE_DOMAIN={{ skvector.DOMAIN }}
{% else %}
export BASE_DOMAIN={{ skvector.CLUSTERNAME }}.{{ skvector.DOMAIN }}
{% endif %}
